# files not to save
.DS_Store

# file forders not to save
TumorSpheroidABM/data
TumorSpheroidABM/data_keep
KerrisABM/data

# file formats not to save
**.asv
**.mat
**.fig
**.jpg
**.svg
**.mp4
**.png
**.eps
**.pdf
**.gif
**.tiff
**.tif
**.csv
